* {
    box-sizing: border-box;
}

:root {
    --primary-purple: #7264d6;
    --black: #212832;
    --gray: #696D76;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open sans", sans-serif;
}

/* ========== Common ========== */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 58px;

    padding: 0px 30px;
    height: var(--height);
    color: #FFF;
    background: var(--black);
    text-align: center;
    font-weight: 600;
    line-height: 1.75;
    border-radius: 6px;
}

/* ========== Header ========== */
.header {
    position: sticky;
    top: -32px;
    padding: 42px 0px 15px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__inner {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
}

.navbar__list {
    margin-left: 47px;
    display: flex;
    align-items: center;
}

.navbar__link {
    position: relative;
    padding: 0 23px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.navbar__link:hover,
.navbar__link--active {
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::after {
    position: absolute;
    bottom: -3px;
    left: 23px;
    content: "";
    width: calc(100% - 46px);
    height: 1px;
    background: var(--primary-purple);
}

.header__action {
    justify-self: flex-end;
}

.header__action-link {
    margin-right: 28px;
    color: #212832;
    font-weight: 600;
    line-height: 1.75;
}

.header_action-btn  {
    --height: 52px;

    padding: 0px 28px;
}

/* ========== Hero ========== */
/* ========== Reward ========== */
/* ========== Payment ========== */
/* ========== Anytime ========== */
/* ========== Feedback ========== */
/* ========== Blog ========== */
/* ========== Download ========== */
/* ========== Footer ========== */
/* ========== ========== */
