* {
    box-sizing: border-box;
}

:root {
    --primary-purple: #7264d6;
    --black: #212832;
    --gray: #696d76;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open sans", sans-serif;
}

/* ========== Common ========== */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 58px;

    padding: 0px 30px;
    height: var(--height);
    color: #fff;
    background: var(--black);
    text-align: center;
    font-weight: 600;
    line-height: 1.75;
    border-radius: 6px;
    transition: opacity 0.25s;
}

.btn:hover {
    opacity: 0.9;
}

.section-title {
    padding-left: 30px;
    position: relative;
    color: #696d77;
    font-weight: 400;
    line-height: 1.75;
}

.section-title::after {
    margin-bottom: 12px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
}

.section-desc {
    margin-top: 20px;
    color: var(--gray);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
}

.section-heading {
    margin-top: 12px;
    color: var(--black);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

@keyframes turnpurple {
100% {
    color: #7264D6;
}
}


/* ========== Header ========== */
.header {
    position: sticky;
    top: -32px;
    padding: 42px 0px 15px;
    z-index: 9;
    background: #fff;
}

.logo__wrap {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__inner {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
}

.navbar__list {
    margin-left: 47px;
    display: flex;
    align-items: center;
}

.navbar__link {
    position: relative;
    padding: 0 23px;
    color: var(--gray);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    transition: text-shadow 0.25s;
}

.navbar__link:hover,
.navbar__link--active {
    color: var(--black);
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::after {
    position: absolute;
    bottom: -3px;
    left: 23px;
    content: "";
    width: calc(100% - 46px);
    height: 1px;
    background: var(--primary-purple);
}

.header__action {
    justify-self: flex-end;
}

.header__action-link {
    margin-right: 28px;
    color: var(--black);
    font-weight: 600;
    line-height: 1.75;
}

.header_action-btn {
    --height: 52px;

    padding: 0px 28px;
}

/* ========== Hero ========== */
.hero {
    padding: 66px 0px 80px;
}

.hero__inner {
    display: flex;
    align-items: center;
    gap: 60px;
}

.hero__content {
    width: 46%;
}

.hero__heading {
    color: var(--black);
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;
}

.hero__heading--purple {
    /* color: var(--primary-purple); */
    animation: turnpurple 1s infinite;
}

.subscribe__form {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.subscribe__input {
    padding-left: 23px;
    border: none;
}

.subscribe__input,
.subscribe__input::placeholder {
    color: var(--gray);
    font-weight: 400;
    line-height: 1.75;
}

.subscribe__submit {
    background: var(--primary-purple);
}

.hero__note {
    margin-top: 20px;
    color: var(--gray);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

.hero__media {
    width: 51.3%;
    position: relative;
}

.hero__img-wrap {
    width: 100%;
    margin-left: 100px;
}

.hero__screen {
    width: 296px;
    height: 562px;
}

.hero__deposit {
    position: absolute;
    left: 0;
    top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero__deposit-text {
    margin: 0px 19px 0 8px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__deposit-amount {
    color: #4ab5e3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.hero__interest {
    position: absolute;
    right: 0;
    top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
}

.hero__interest-percentage {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero__interest-text {
    color: #fff;
    font-weight: 400;
}

.hero__fund {
    position: absolute;
    bottom: 61px;
    right: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
}

.hero__fund-body {
    display: flex;
    flex-direction: column;
}

.hero__fund-amount {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__fund-text {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
}

/* ========== Reward ========== */
.reward {
    padding: 80px 0;
}

.reward__inner {
    display: flex;
    align-items: center;
    gap: 230px;
}

.reward__media {
    margin-top: auto;
    position: relative;
    width: 40.17%;
}

.reward__media-bg {
    width: 470px;
    height: 550px;
}

.reward__img-wrap {
    position: absolute;
    bottom: 0;
}

.reward__img {
    display: block;
    margin: 0px auto 2px;
    width: calc(100% - 14px);
}

.reward__logo-box {
    position: absolute;
    top: 0;
    right: 62px;
}

.reward__card {
    position: absolute;
    right: -100px;
    bottom: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 226px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.reward__card-body {
    display: flex;
    flex-direction: column;
}

.reward__card-heading {
    color: var(--black);
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.reward__card-text {
    margin-top: 5px;
    color: var(--gray);
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.reward__content {
    padding: 30px 0;
}

.reward__heading {
    margin-bottom: 70px;
}

.reward__info {
    margin-top: 30px;
}

.reward__info-heading {
    color: var(--black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45; /* 145.455% */
}

.reward__info-desc {
    margin-top: 16px;
    color: var(--gray);
    font-weight: 400;
    line-height: 1.75;
}

/* ========== Payment ========== */
.payment {
    padding: 80px 0;
}

.payment__inner {
    display: grid;
    grid-template-columns: 40.17% 1fr;
    align-items: center;
    gap: 130px;
}

.anytime__list,
.payment__list {
    margin: 28px 0 38px;
}

.anytime__item,
.payment__item {
    position: relative;
    padding-left: 24px;
    margin-bottom: 18px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.anytime__item::after,
.payment__item:after {
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translateY(50%);
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}

.payment__media {
    position: relative;
}

.payment-money {
    position: absolute;
    top: -48px;
    right: 0;
    width: 276px;
    height: 86px;
    padding: 23px 13px;
    display: grid;
    grid-template-columns: 40px 1fr 60px;
    gap: 14px;
    align-items: center;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.payment-money__title {
    color: var(--black);
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.payment-money__sub {
    color: var(--gray);
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.payment-money__amount {
    color: var(--black);
    text-align: right;
    font-family: Inter, sans-serif;
    font-weight: 400;
}

.payment-money__time {
    color: var(--gray);
    text-align: right;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.payment-income {
    position: absolute;
    bottom: -55px;
    right: 0;
    padding: 15px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
}

.payment-income__text {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.payment-income__amount {
    margin-top: 8px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

/* ========== Anytime ========== */
.anytime {
    padding: 80px 0;
}

.anytime__inner {
    display: flex;
    align-items: center;
    gap: 19.66%;
}

.anytime__media {
    position: relative;
    width: 40.17%;
    flex-shrink: 0;
    background-image: url(../img/anytime-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.anytime__img {
    display: block;
    margin: 0 auto;
    width: 87.9%;
}

.anytime__card-icon {
    position: absolute;
    bottom: 222px;
    right: -100px;
    width: 90px;
    height: 90px;
}

.anytime__method {
    position: absolute;
    bottom: 57px;
    right: -74px;
    padding: 28px;
    width: 281px;
    height: 220px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 44px 48px rgba(0, 0, 0, 0.1);
}

.anytime__method-text {
    color: var(--black);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.anytime__method-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}

/* ========== Feedback ========== */
.feedback {
    padding: 80px 0;
}

.feedback__title {
    width: 150px;
}
.feedback__heading {
    text-align: center;
}

.feedback__title,
.feedback__desc {
    margin-left: auto;
    margin-right: auto;
}
.feedback__desc {
    margin-top: 18px;
    width: 37.2%;
    color: var(--gray);
    text-align: center;
    font-weight: 400;
    line-height: 1.75;
}

.feedback__list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.feedback-item {
    width: 48.7%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-item__quote {
    position: relative;
    padding: 42px 28px;
    color: var(--gray);
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
    background: #fff;
    filter: drop-shadow(0 0 1px #dfe2e8);
}

.feedback-item__quote::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -118px;
    border: 60px solid;
    border-color: #fff transparent transparent;
}

.feedback-item__quote:hover {
    border: transparent;
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.feedback-item__avatar {
    margin-top: 96px;
    object-fit: cover;
    width: 104px;
    height: 104px;
    border-radius: 52px;
    background: #4ab5e3;
}

.feedback-item:nth-child(even) .feedback-item__avatar {
    background: #439f90;
}

.feedback-item__name {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.feedback-item__job {
    margin-top: 2px;
    color: var(--gray);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.feedback__dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.feedback__dot {
    margin: 0px 6px;
    width: 22px;
    height: 6px;
    border: 1px solid #9b9fab;
}

.feedback__dot--active {
    background: #7264d6;
}

/* ========== Blog ========== */
.blog {
    padding: 80px 0;
}

.blog-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-top__content {
    width: 37.2%;
}

.blog-top__desc {
    margin-top: 18px;
    color: var(--gray);
    font-weight: 400;
    line-height: 1.75;
}

.blog__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.blog-item {
    padding: 28px;
    display: flex;
    align-items: center;
    gap: 22px;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
    transition: border 0.5s, box-shadow 0.5s;
}

.blog-item:hover {
    border: transparent;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.blog-item__img {
    width: 160px;
    height: 160px;
    border-radius: 12px;
}

.blog-item__time {
    margin-top: 10px;
    color: var(--gray);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.blog-item__heading {
    margin-top: 10px;
    color: var(--black);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.blog-item__cta {
    display: block;
    margin-top: 20px;
    color: var(--gray);
    font-weight: 400;
    line-height: 1.625;
}

.blog-item__cta:hover {
    color: #7264d6;
}

/* ========== Download ========== */
@keyframes lds-circle {
    0%,
    100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.download {
    margin: 80px 0;
}

.download__inner {
    position: relative;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    background: #7264d6;
}

.download__title {
    color: #fff;
}

.download__title::after {
    background: #fff;
}

.download__heading {
    color: #fff;
}

.download__desc {
    width: 37.17%;
    margin-top: 18px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    line-height: 1.75;
}

.download__list {
    margin-top: 38px;
    display: flex;
    gap: 16px;
}

.download-google__icon {
    width: 182px;
    height: 64px;
}

.download__decor {
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.download__decor:nth-of-type(1) {
    position: absolute;
    top: 49px;
    left: 112px;
}

.download__decor:nth-of-type(2) {
    position: absolute;
    top: 49px;
    right: 112px;
}

.download__decor:nth-of-type(3) {
    position: absolute;
    bottom: 49px;
    left: 166px;
}

.download__decor:nth-of-type(4) {
    position: absolute;
    bottom: 49px;
    right: 166px;
}

/* ========== Footer ========== */
.footer {
    padding-top: 100px;
}

.footer__inner {
    padding-bottom: 28px;
}

.footer__content {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    gap: 163px;
}

.footer__column-heading {
    margin-bottom: 24px;
    color: var(--black);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.footer__column-desc,
.footer__column-link {
    color: #6a6e78;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.footer__column-link {
    display: block;
    margin-bottom: 12px;
    transition: 0.25s;
}

.footer__column-link:hover {
    text-shadow: 1px 0 0 #7264d6;
    color: #7264d6;
}

.footer-form {
    margin-top: 48px;
}

.footer-form__label {
    color: #0a142f;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.footer-form__row {
    margin-top: 24px;
    display: flex;
    gap: 20px;
}

.footer-form__input {
    padding: 12px;
    width: 270px;
    height: 52px;
    border-radius: 6px;
    border: 1px solid #8e919a;
}

.footer-form__input::placeholder {
    color: #8e919a;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.footer-form__btn {
    padding-left: 18px;
    padding-right: 18px;
    width: 113px;
    height: 52px;
    background: #7264d6;
}

.footer__contact {
    margin-top: 54px;
}

.footer__email {
    padding-right: 100px;
}

.footer__email,
.footer__phone {
    color: #6a6e78;
    text-align: justify;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    text-decoration: underline;
}
.footer__copyright {
    padding: 28px 0px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    background: #7264d6;
}
/* ========== ========== */
